.login{


  @media (max-width: 768px) {
      /* styles for small screens */
    }
    

  height: 100vh;
  background-color: rgb(158, 97, 158);
  display: flex;
  align-items: center;
  justify-content: center;



.card{
  display: flex;
  background-color: white;
  width: 60%;
  border-radius: 10px;
  min-height: 350px;
  background-size: cover;
  overflow: hidden;

  .left{
      flex: 1;
      background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(44, 12, 109, 0.5)),url("https://images.pexels.com/photos/2240771/pexels-photo-2240771.jpeg?auto=compress&cs=tinysrgb&w=400") center;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: white;


      h1{
          font-size: 60px;
          list-style: 60px;

      }
      p
          {
      
          }
      span
      {
          font-size: 15px;
      }
      button
      {
          width: 40%;
          padding: 12px;
          border: none;
          background-color: white;
          color: rebeccapurple;
          font-weight: bold;
          cursor: pointer;
      }

  }
  .right{
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap:30px;
      justify-content: center;



      h1
      {
          color: #555;

      }
      form{
          display: flex;
          flex-direction: column;
          gap: 25px;
          
          input
          {
              border: none;
              border-bottom: 1px solid gray;
              padding: 20px 10px;

          }
          button
          {
              width: 40%;
              padding: 10px;
              border: none;
              background-color: #938eef;
              color: white;
              font-weight: bold;
              cursor: pointer;
              
          }

      }

  }




}
}